.show{
    display: block;
    opacity: 1 !important;
}
.modal-backdrop {
    background-color: rgba(0,0,0,0.5) !important;
}
/*.modal-backdrop.fade {*/
/*    opacity: 1 !important;*/
/*}*/
/*.modal{*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    font-family: 'Fira Sans', sans-serif;*/
/*    font-weight: 400;*/
/*    color: #4F4F4F;*/
/*    background: #E8F9FE;*/
/*    margin: 0;*/
/*    overflow: hidden;*/
/*    padding-right: 17px;*/
/*}*/